---
import Layout from '../layouts/Layout.astro';

import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro";
---

<Layout title="Mikel Valencia's Portfolio">
	<main>
		<SectionContainer class="container__hero">
			<Hero />
			<slot />
		</SectionContainer>
		<SectionContainer id="experience"></SectionContainer>
		<SectionContainer id="projects"></SectionContainer>
		<SectionContainer id="about"></SectionContainer>
		<SectionContainer id="contact"></SectionContainer>
	</main>
</Layout>

<style lang="scss">
	main {
		padding-left: 1rem;
		padding-right: 1rem;
	}
</style>