<div {...Astro.props} class="badge">
  <span class="badge__wrapper">
    <span class="badge__border"></span>
    <div class="badge__content">
      <slot />
    </div>
  </span>
</div>

<style lang="scss">
  .badge {
    display: flex;
    align-items: center;
    &__wrapper {
      position: relative;
      overflow: hidden;
      display: inline-flex;
      border-radius: .3rem;
      padding: 1.5px;
    }
    &__border {
      position: absolute;
      inset: -1000%;
      background-image: conic-gradient(from 90deg at 50% 50%, var(--border-b2-glowing-badge), var(--border-b1-glowing-badge), var(--border-b2-glowing-badge));
      animation: spin 2s linear infinite;
    }
    &__content {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: .25rem;
      width: 100%;
      padding: .25rem .5rem;
      color: var(--text-glowing-badge);
      background-color: var(--bg-glowing-badge);
      border-radius: .3rem;
      font-size: var(--fs-glowing-badge, 1rem);
      line-height: var(--lh-glowing-badge, 1.5rem);
      font-weight: 500;
      backdrop-filter: blur(64px);
      white-space: nowrap;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
</style>