---
import Briefcase from "./icons/Briefcase.astro"
import LinkedInIcon from "../components/icons/LinkedInIcon.astro"
import GithubIcon from "../components/icons/GithubIcon.astro"
import SocialLink from "../components/SocialLink.astro"
import GlowingBadge from "./GlowingBadge.astro"
---

<div class="hero">
  <h1>MIKEL VALENCIA</h1>
  <h2>Industrial Engineer & Software Developer</h2>
  <p class="hero__description">
    Bringing ideas to life with code. Specialized in development of software for engineering.
  </p>
  <div class="hero__socials">
    <GlowingBadge>
      <Briefcase style="height: 1rem; width: 1rem;" />
      ITP Aero
    </GlowingBadge>
    <SocialLink href="https://www.linkedin.com/in/mikelvalenciazabaleta/">
      <LinkedInIcon style="height: 1rem; width: 1rem;" />
      LinkedIn
    </SocialLink>
    <SocialLink href="https://github.com/Mikel-Valencia">
      <GithubIcon style="height: 1rem; width: 1rem;" />
      Github
    </SocialLink>
  </div>
</div>

<style lang="scss">
  .hero {
    h1 {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 600;
      letter-spacing: -0.025em;
      color: var(--text-primary);
      @media (min-width: 640px) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
      @media (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      @media (min-width: 1024px) {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }
    h2 {
      margin-bottom: 1rem;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 700;
      letter-spacing: -0.025em;
      background-image: var(--text-gradient);
      background-clip: text;
      color: transparent;
      @media (min-width: 640px) {
        font-size: 3rem;
        line-height: 1;
      }
      @media (min-width: 768px) {
        font-size: 4rem;
        line-height: 1;
      }
      @media (min-width: 1024px) {
        font-size: 5rem;
        line-height: 1;
      }
    }
    &__description {
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--text-secondary);
      @media (min-width: 640px) {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      @media (min-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.725rem;
      }
      @media (min-width: 1024px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    &__socials {
      --fs-glowing-badge: .875rem;
      --lh-glowing-badge: 1.25rem;
      --fs-social-link: .875rem;
      --lh-social-link: 1.25rem;
      display: flex;
      gap: 1rem;
      @media (min-width: 768px) {
        --fs-glowing-badge: 1rem;
        --lh-glowing-badge: 1.5rem;
        --fs-social-link: 1rem;
        --lh-social-link: 1.5rem;
      }
    }
  }
</style>